* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  color: $white;
}

header {
  display: flex;
  position: fixed;
  z-index: 100;
}

label {
  display: none;
}

h2 {
  @include fontStyling(3rem, 600);
  letter-spacing: 5px;
}

h3 {
  @include fontStyling(2rem, 600);
  margin: 15px 0;
  text-align: center;
}

input[type="text"] {
  height: 50px;
  width: calc(100vw - 100px);
  background-color: $white;
  color: $red;
  border: none;
  padding: 15px 10px;
  font-size: 2.5rem;
  text-align: center;
  box-shadow: none;
  outline: 0;
  transition: .3s ease;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  &:focus {
    border: $red;
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.5);
    outline: 0;
  }
}

button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
}

.search-bar {
  display: flex;
}

section {
  display: flex;
  background-color: $black;
  width: 100vw;
  position: relative;
}

// bottom nav
.sidebar {
  background-color: $grey;
  position: fixed;
  z-index: 50;
  bottom: 0;
  ul {
    padding: 10px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      margin: 0 20px;
    }
  }
  span {
    color: $white;
    font-size: 4rem;
    height: auto;
  }
}

.movie-options {
  margin: 60px auto 0px;
  min-height: calc(100vh - 60px);
  max-width: 100vw;
}

// Navlink
.selected {
  span {
    color: $red;
  }
}

.opening {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $red;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  cursor: pointer;
  img {
    width: 60%;
    padding: 20px;
    max-width: 450px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 400%;
    height: 100%;
    z-index: 1000;
    background: linear-gradient(to right, transparent, $red, $red);
    z-index: 6000;
    animation: unveil 2s linear forwards;
  }
}

@keyframes unveil {
  0% {
    right: 0;
  }
  100% {
    right: -400%;
  }
}