.sidebar li {
  position: relative;
  .favourite {
    position: absolute;
    z-index: 100;
    color: $white;
    background-color: $red;
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    top: -20px;
    right: -20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.single-movie {
  .interactions {
    .control {
      color: $red;
      background-color: $white;
      border: 3px solid $red;
    }
  }
}

.only-text {
  display: flex;
  justify-content: center;
  span {
    position: relative;
    top: 5px;
  }
}

.sidebar .show {
  display: block;
  span {
    color: $white;
    background: $grey;
    background-size: 100%;
    animation: flash 2s ease-in-out infinite;
    cursor: pointer;
  }
}

@keyframes flash {
  0% {
    background-color: $grey;
  } 50% {
    background-color: $red;
  } 100% {
    background-color: $grey;
  }
}

.hide {
  display: none;
}

.sidebar ul .include-close {
  margin: 0 10px;
}