html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
}

label {
  display: none;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 5px;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 15px 0;
  text-align: center;
  padding: 0 15px;
}

input[type="text"] {
  height: 50px;
  width: calc(100vw - 100px);
  background-color: #fff;
  color: #b73a1c;
  border: none;
  padding: 15px 10px;
  font-size: 2.5rem;
  text-align: center;
  box-shadow: none;
  outline: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
}

input[type="text"]:focus {
  border: #b73a1c;
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  outline: 0;
}

button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1a1a;
  width: 100vw;
  position: relative;
}

.sidebar {
  background-color: #484848;
  position: fixed;
  z-index: 50;
  bottom: 0;
}

.sidebar ul {
  padding: 5px 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar ul li {
  list-style: none;
  margin: 0 15px;
}

.sidebar span {
  color: #fff;
  font-size: 4rem;
  height: auto;
}

.sidebar .material-icons,
.sidebar .material-icons-outlined {
  padding: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #b73a1c), color-stop(50%, #484848));
  background: linear-gradient(to right, #b73a1c 50%, #484848 50%);
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.sidebar .material-icons:hover, .sidebar .material-iconsfocus,
.sidebar .material-icons-outlined:hover,
.sidebar .material-icons-outlinedfocus {
  background-position: left bottom;
}

.movie-options {
  margin: 70px auto 0px;
  min-height: calc(100vh - 70px);
  max-width: 100vw;
}

.movie-options h3 + img {
  max-width: 80%;
  margin: 20px auto;
  display: block;
}

.opening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #b73a1c;
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.opening img {
  width: 60%;
  padding: 20px;
  max-width: 450px;
}

.opening::before {
  content: '';
  position: absolute;
  width: 400%;
  height: 100%;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#b73a1c), to(#b73a1c));
  background: linear-gradient(to right, transparent, #b73a1c, #b73a1c);
  z-index: 6000;
  -webkit-animation: unveil 2s linear forwards;
          animation: unveil 2s linear forwards;
}

@-webkit-keyframes unveil {
  0% {
    right: 0;
  }
  100% {
    right: -400%;
  }
}

@keyframes unveil {
  0% {
    right: 0;
  }
  100% {
    right: -400%;
  }
}

aside {
  width: 100vw;
  background-color: #b73a1c;
  position: fixed;
  top: 50px;
  z-index: 100;
}

aside h4 {
  color: white;
  text-align: center;
  margin: 5px 0;
}

.movie-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  cursor: pointer;
  margin: 30px 30px 80px;
}

.movie-list h3 {
  max-width: 330px;
}

.movie-list li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.movie-list li img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 125px;
}

.instructions {
  margin: 0 30px 70px;
  counter-reset: section;
}

.instructions li {
  list-style: none;
  margin-bottom: 15px;
  margin-left: 20px;
  line-height: 1.4;
  position: relative;
}

.instructions li:first-of-type {
  margin-top: 10px;
}

.instructions li::before {
  content: counter(section);
  counter-increment: section;
  position: absolute;
  left: -24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}

.instructions li:first-of-type::before {
  left: -22px;
}

.instructions li::after {
  content: "";
  background-color: #b73a1c;
  position: absolute;
  left: -29px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
}

.instructions li span {
  font-size: 1.6rem;
  border-radius: 50%;
  height: auto;
  position: relative;
  z-index: 20;
  bottom: -3px;
  color: #fff;
  background-color: #b73a1c;
  padding: 2px;
  margin: 0px 4px;
}

.single-movie {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
  position: relative;
}

.single-movie .movie-poster {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-movie .movie-poster img {
  max-width: 350px;
}

.single-movie p {
  margin-bottom: 10px;
}

.single-movie p:nth-of-type(2n) {
  margin-bottom: 15px;
}

.single-movie strong {
  position: relative;
}

.single-movie strong::before {
  content: "";
  background-color: #b73a1c;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: 0 auto;
}

.single-movie .interactions {
  color: #fff;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.single-movie .interactions button {
  width: auto;
  height: auto;
  color: #fff;
}

.single-movie .interactions a {
  color: #fff;
}

.single-movie .interactions span {
  font-size: 4rem;
  background-color: #b73a1c;
  position: relative;
  z-index: 5;
  margin: 10px 20px;
  padding: 10px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.film-contain {
  max-width: 1000px;
}

.shoppies-list {
  margin-bottom: 70px;
  counter-reset: item;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  text-align: center;
}

.shoppies-list li {
  list-style: none;
  position: relative;
}

.shoppies-list li::after {
  content: counter(item);
  counter-increment: item;
  color: #b73a1c;
  position: absolute;
  top: 10px;
  left: 17px;
  font-size: 6rem;
  text-shadow: 2px 2px 4px #1a1a1a;
}

.shoppies-list p {
  padding-top: 15px;
  margin-bottom: 15px;
  position: relative;
}

.shoppies-list p span {
  position: relative;
  top: 5px;
}

.shoppies-list img {
  height: 300px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  padding: 10px 0;
}

.shoppies-list button {
  color: #fff;
  background-color: #b73a1c;
  border: #fff 3px solid;
  border-radius: 50%;
  margin: 0px auto 10px;
}

.shoppies-list li p {
  max-width: 200px;
}

iframe {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vw;
  height: 40vw;
}

.blurBack {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.sidebar li {
  position: relative;
}

.sidebar li .favourite {
  position: absolute;
  z-index: 100;
  color: #fff;
  background-color: #b73a1c;
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-movie .interactions .control {
  color: #b73a1c;
  background-color: #fff;
  border: 3px solid #b73a1c;
}

.only-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.only-text span {
  position: relative;
  top: 5px;
}

.sidebar .show {
  display: block;
}

.sidebar .show span {
  color: #fff;
  background: #484848;
  background-size: 100%;
  -webkit-animation: flash 2s ease-in-out infinite;
          animation: flash 2s ease-in-out infinite;
  cursor: pointer;
}

@-webkit-keyframes flash {
  0% {
    background-color: #484848;
  }
  50% {
    background-color: #b73a1c;
  }
  100% {
    background-color: #484848;
  }
}

@keyframes flash {
  0% {
    background-color: #484848;
  }
  50% {
    background-color: #b73a1c;
  }
  100% {
    background-color: #484848;
  }
}

.hide {
  display: none;
}

@media (min-width: 600px) {
  .movie-list h3 {
    max-width: none;
  }
  .movie-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .shoppies-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .opening h2 {
    font-size: 4rem;
  }
}

@media (min-width: 800px) {
  .movie-list li img {
    height: 300px;
    width: 200px;
  }
  .shoppies-list li img {
    height: 350px;
    width: 225px;
  }
  .shoppies-list li p {
    max-width: 225px;
  }
  .opening {
    font-size: 5rem;
  }
}

@media (min-width: 900px) {
  .single-movie {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .single-movie .movie-content {
    padding: 0 20px;
  }
}

@media (min-width: 1000px) {
  .movie-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .shoppies-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .single-movie .movie-poster img {
    width: 100%;
  }
  .single-movie .movie-content {
    padding: 0 30px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 4rem;
  }
  p, .instructions li {
    font-size: 1.8rem;
  }
  .movie-list {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .shoppies-list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .shoppies-list {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-height: 450px) {
  iframe {
    width: 500px;
    height: 220px;
  }
}
/*# sourceMappingURL=App.css.map */